/* Custom styles */
body {
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-color: #007bff;
  }
  
  footer {
    background-color: #343a40;
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  .navbar navbar-expand-lg navbar-light bg-light{
    background-color: #007bff;
  }
  .container{
    background-color: #007bff;
  }
  